<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">


    <title>Group 38 (Not-A-Database) - NPC Database</title>
  </head>
  <header>
    <h1>NPC Database</h1>
    <table>
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/table?table=npcs&view=filter">NPCs</a></td>
        <td><a href="/table?table=traits&view=filter">Traits</a></td>
        <td><a href="/table?table=creature_types&view=filter">Creature Types</a></td>
        <td><a href="/table?table=items&view=filter">Items</a></td>
        <td><a href="/table?table=item_types&view=filter">Item Types</a></td>
        <td><a href="/table?table=locations&view=filter">Locations</a></td>
      </tr>
    </table>
  </header>
  <body>
    {{{body}}}
    <footer>
    </footer>
    <style media="text/css">
      .table-h {
        border-color: transparent;
        font-weight: bold;
        width: 156.8px;
      }

      table {
        width: 156.8px;
        table-layout: fixed;
      }

      input[type=text] {
        width: 156.8px;
      }
    </style>
  </body>
</html>
