<section>
  <table>
    <tr>
      <td>
        <h3>NPC</h3>
        <ul>
          <li><a href="/table?table=npcs&view=filter">View all NPCs</a></li>
          <li><a href="/detail?view=add">Add a new NPC</a></li>
          <li><a href="/table?table=npcs&view=update">Update a NPC</a></li>
          <li><a href="/table?table=npcs&view=delete">Delete a NPC</a></li>
        </ul>
      </td>
      <td>
        <h3>Traits</h3>
        <ul>
          <li><a href="/table?table=traits&view=filter">View all Traits</a></li>
          <li><a href="/table?table=traits&view=add">Add a new Trait</a></li>
          <li><a href="/table?table=traits&view=update">Update a Trait</a></li>
          <li><a href="/table?table=traits&view=delete">Delete a Trait</a></li>
        </ul>
      </td>
      <td>
        <h3>Creature Types</h3>
        <ul>
          <li><a href="/table?table=creature_types&view=filter">View all Creature Types</a></li>
          <li><a href="/table?table=creature_types&view=add">Add a new Creature Type</a></li>
          <li><a href="/table?table=creature_types&view=update">Update a Creature Type</a></li>
          <li><a href="/table?table=creature_types&view=delete">Delete a Creature Type</a></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Items</h3>
        <ul>
          <li><a href="/table?table=items&view=filter">View all Items</a></li>
          <li><a href="/table?table=items&view=add">Add a new Item</a></li>
          <li><a href="/table?table=items&view=update">Update a Item</a></li>
          <li><a href="/table?table=items&view=delete">Delete a Item</a></li>
        </ul>
      </td>
      <td>
        <h3>Item Types</h3>
        <ul>
          <li><a href="/table?table=item_types&view=filter">View all Item Types</a></li>
          <li><a href="/table?table=item_types&view=add">Add a new Item Type</a></li>
          <li><a href="/table?table=item_types&view=update">Update a Item Type</a></li>
          <li><a href="/table?table=item_types&view=delete">Delete a Item Type</a></li>
        </ul>
      </td>
      <td>
        <h3>Locations</h3>
        <ul>
          <li><a href="/table?table=locations&view=filter">View all Locations</a></li>
          <li><a href="/table?table=locations&view=add">Add a new Location</a></li>
          <li><a href="/table?table=locations&view=update">Update a Location</a></li>
          <li><a href="/table?table=locations&view=delete">Delete a Location</a></li>
        </ul>
      </td>
    </tr>
  </table>
</section>
<footer>

</footer>
